<h1 class="text-center mb-5">
  Login
</h1>
<div class="card mx-auto mt-3 p-3 bg-light">
  <div class="card-body">
    <div class="hstack">
    </div>
    <form action="vote">
      <div class="my-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
      <div>
        <button id="buttonLogin" class="btn btn-primary w-100" >Login</button>
      </div>
    </form>
  </div>
</div>

<script>
$('#buttonLogin').click(async (e) => {
  e.preventDefault();
  const email = $('#email').val();
  const password = $('#password').val();

  try {
    const res = await $.ajax({ 
      method: "POST",
      url: "/api/user/login",
      data: {
        email,
        password,
      }
    });
    console.log(res);
    localStorage.setItem("user", res.user);
    localStorage.setItem("token", res.token);
    location.assign("/");
  } catch(e) {
    location.reload();
  }
});
</script>

<style>
  .card {
    max-width: 768px;
  }
</style>